#header {
    display: block;
    width: 720px;
    margin: 0 auto;
    overflow: auto;
}

#photo {
    float: left;
    width: 188px;
    height: 200px;
    border-radius: 50%;
    margin: 90px 0px 0px 0px;
    vertical-align: middle;
}

.bio {
    float: left;
    margin: 0px 40px 0px 40px;
    width: 400px;
}

.top-header {
    font-size: 25px;
    margin: 0rem 0 0.5rem 0;
    text-align: center;
}

a {
    color: #1772d0;
    text-decoration: none;
}

.bottom-links {
    text-align: center;
}

.backemail {
    unicode-bidi: bidi-override;
    direction: rtl;
}

ol {
    list-style-type: disc;
   }

li {
    margin: 20px 0;
  }

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #photo {
        float: none;
        display: block;
        margin: 0 auto;
    }
    #header {
        width: auto;
    }
    article {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-header {
        margin: 0rem 0 0.5rem;
        text-align: center;
    }
    .bottom-links {
        text-align: center;
    }
    .bio {
        display: block;
        margin: 0 auto;
        text-align: left;
        float: none;
        width: auto;
    }
}

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    margin: 20px;
    font-weight: 400;
}

p,
span {
    color: #000000;
}

h1 {
    color: #202124;
    font-weight: 500;
    margin: 2rem 0 .5rem;
    font-size: 17px
}

article {
    display: block;
    margin: 0 auto;
    max-width: 720px;
}

#research {
    margin-right: 250px;
    height: 200px;
}

.time {
    color: rgb(20, 90, 10);
}

.margin-left {
    margin-left: 10px;
}

.place {
    color: #428bca;
}

.image {
    float: left;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.description {
    margin-left: 220px;
}

.clearfix {
    overflow: auto;
}

b {
    color: #202124;
    font-weight: 500;
    margin: 2rem 0 .5rem;
    font-size: 14px
}

i{
    font-weight: 400;
}