#header {
  display: block;
  width: 600px;
  margin: 0 auto;
  overflow: auto;
}

#photo {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  color: rgb(20, 90, 10);
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #photo {
    float: none;
    display: block;
    margin: 0 auto;
  }
  #header {
    width: auto;
  }
  .bio{
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.name {
  font-size: 46px;
  font-weight: 400;
  color: rgb(20, 90, 10);
}

.qual {
  font-size: 18px;
  font-weight: 300;
  margin-left: 10px;
}

.email {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

article {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#research {
  margin-right: 250px;
  height: 200px;
}

.time {
  color: rgb(20,90,10);
}

.place {
  color: #428bca;
}

.image{
  float: left;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.description{
  margin-left: 220px;
}

.clearfix{
  overflow: auto;
}